<%= form_with(model: apartment, local: true) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"物件名" %>
    <%= form.text_field :property_name %>
  </div>

  <div class="field">
    <%= form.label :"賃料"%>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :"住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :"築年数" %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :"備考" %>
    <%= form.text_area :note %>
  </div>
  <hr>
  <%= form.fields_for :stations do | station | %>
  <h3>最寄りの駅<%= station.index + 1 %></h3>
  <div class="field">
    <%= form.label :"路線名" %>
    <%= station.text_field :train_line %>
  </div>

  <div class="field">
    <%= form.label :"駅名" %>
    <%= station.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :"徒歩分数" %>
    <%= station.number_field :walk_time %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit submit_label %>
  </div>
<% end %>
