<p id="notice"><%= notice %></p>

<p>
  <strong>Property name:</strong>
  <%= @apartment.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @apartment.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @apartment.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @apartment.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @apartment.note %>
</p>

<p>
  <strong>Train line1:</strong>
  <% @apartment.stations.each do |station| %>
  <div>
    <%= station.train_line1 %>
  </div>
  <div>
    <%= station.station_name1 %>
  </div>
  <div>
    <%= station.walk_time1 %>
  </div>
  <div>
    <%= station.train_line2 %>
  </div>
  <div>
    <%= station.station_name2 %>
  </div>
  <div>
    <%= station.walk_time2 %>
  </div>

  <% end %>
</p>








<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
